@import '../../../scss/';

.container {
    background-color: $white;
}
.inner {
    @include tablet {
        display: flex;
        // flex-direction: column;
    }
}
.nav {
    display: flex;
    margin: 16px 0;
    justify-content: center;
    // background-color: red;
    @include tablet {
        flex-direction: column;
        justify-content: flex-start;

        flex-wrap: wrap;
        margin: 0 20px 0 0;
        button {
            margin-bottom: 6px;
            width: 150px !important;
        }
    }
}
