@import '../../../scss/';
.form-container {
    width: 100%;
    border: 1px solid #f0f0f0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba($color: #000000, $alpha: 0.2);
    @include mobile {
        padding: 10px;
        box-shadow: unset;
        border: unset;
    }
    .input-container-top {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @include tablet {
            flex-direction: column;
        }
    }
    .input-item {
        width: 45%;
        @include tablet {
            width: 100%;
        }
    }

    .input-container-bottom {
        width: 45%;
        padding: 0 20px;
        @include tablet {
            width: 100%;
            padding: unset;
        }
    }

    .btn-secondary,
    .btn-primary {
        background-color: #e5f9f2;
        color: $text;
        margin-bottom: 14px;
        display: flex;
        justify-content: flex-start;

        padding: 10px 40px;
        border-radius: 10px;

        span {
            margin-right: 40px;
        }
        &:hover {
            background-color: #e5f9f2;
        }
    }
    .btn-primary {
        display: flex;
        justify-content: center;
        background-color: #01c38e;
        color: $white;
        &:hover {
            background-color: #01c38e;
        }
    }
}
