@import '../../scss/';
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 30px 0 30px;

    @include mobile {
        padding: 90px 16px 0 16px;
    }
}
.title {
    margin: 16px 0;
}
