@import '../../scss/';
.container {
    background-color: white;
}
.inner {
    @include tablet {
        display: flex;
        // flex-direction: column;
    }
}
.nav {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    @include tablet {
        flex-wrap: wrap;
        margin-right: 20px;
        button {
            margin-bottom: 6px;
        }
    }
}
