.MuiFilledInput-root::after {
    font-size: 1.6rem !important;
}
.MuiInputLabel-root {
    font-size: 1.6rem !important;
}
.MuiFormHelperText-root {
    font-size: 1.4rem !important;
}
.MuiFilledInput-before::after {
    font-size: 1.6rem !important;
}
.MuiInputBase-root {
    font-size: 1.6rem !important;
}

.MuiButton-root {
    font-size: 1.6rem !important;
}

.MuiFormLabel-root {
    font-size: 1.6rem !important;
}

.MuiTypography-root {
    font-size: 1.6rem !important;
}
