@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #61dbfb;
    --inner-width-layout: 1150px;
    --grey-light: rgba(22, 24, 35, 0.34);
    --white: #fff;
    --text-light: rgba(22, 24, 35, 0.5);
    --text: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

a {
    color: unset;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

ul {
    list-style: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
