.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px rgba($color: #000000, $alpha: 0.07);
    padding: 20px;
    border-radius: 20px;
    background-color: #d3d3d3;
    .cd {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;

        img {
            border-radius: 999px;
        }

        .circle {
            position: absolute;
            background-color: #005cc8;
            box-shadow: 0px 0px 50px 10px rgba($color: #000000, $alpha: 0.4);
            width: 50px;
            height: 50px;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 2;
            top: 50%;
            border-radius: 999px;
        }
    }
    .cd.rotateCD {
        -webkit-animation: rotating 30s linear infinite;
        -moz-animation: rotating 30s linear infinite;
        -ms-animation: rotating 30s linear infinite;
        -o-animation: rotating 30s linear infinite;
        animation: rotating 30s linear infinite;
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
