@import '../../../../../scss/';

.volume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    font-size: 2.2rem;
    button {
        background-color: $bg-zing;
        color: $white;
    }
}
