@import '../../../../scss/';

.player-container {
    display: flex;
    flex-direction: column;
    button {
        background-color: $bg-zing;
        color: $white-light;
    }
    .main {
        display: flex;
        justify-content: center;
        font-size: 5rem;

        .prev {
            margin-right: 30px;
            font-size: 3.5rem;
        }
        .next {
            margin-left: 30px;
            font-size: 3.5rem;
        }

        .random {
            margin-right: 30px;
            font-size: 2rem;
        }

        .repeat {
            margin-left: 30px;
            font-size: 2rem;
        }
        .active {
            color: $primary;
        }
    }
    .more {
        display: flex;
        align-items: center;
        span {
            color: gray;
        }
        .time {
            flex: 1;
            display: flex;
            input {
                flex: 1;
                margin: 0 6px;
            }
            margin-right: 10px;
        }
        .volume {
            position: relative;
            input {
                position: absolute;
                transform: rotate(-90deg) translateX(50%);
                bottom: 20px;
                right: -24px;
                width: 70px;
                display: none;
            }
            .mute {
                font-size: 2rem;

                position: relative;
            }
            .mute::after {
                content: '';
                width: 100%;
                height: 120px;
                // background-color: red;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            .mute:hover ~ input {
                display: block;
            }

            @include tablet {
                .mute:hover ~ input {
                    display: none;
                }
            }
        }
    }
    input {
        background-color: $bg-zing;
    }
    input[type='range'] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }
    input[type='range']:focus {
        outline: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #cdcdcd;
        border-radius: 25px;
        border: 0px solid #000101;
    }
    input[type='range']::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 16px;
        width: 16px;
        border-radius: 12px;
        background: $primary;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5px;
    }
    input[type='range']:focus::-webkit-slider-runnable-track {
        background: #cdcdcd;
    }
    input[type='range']::-moz-range-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #ac51b5;
        border-radius: 25px;
        border: 0px solid #000101;
    }
    input[type='range']::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
    }
    input[type='range']::-ms-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
    }
    input[type='range']::-ms-fill-lower {
        background: #ac51b5;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type='range']::-ms-fill-upper {
        background: #ac51b5;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type='range']::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
    }
    input[type='range']:focus::-ms-fill-lower {
        background: #ac51b5;
    }
    input[type='range']:focus::-ms-fill-upper {
        background: #ac51b5;
    }

    body {
        padding: 30px;
    }
}
