@import '../../scss/';

.wrapper {
    background-color: #0c0626;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
    @include tablet {
        z-index: 9999999;
    }
}

.container {
    height: 85px;
    margin: 0 auto;
    max-width: 1200px;
    color: white;
    display: flex;
    align-items: center;
    @include tablet {
        padding: 0 16px;
    }
    @include mobile {
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-items: center;
        img {
            width: 70px;
            margin-right: 10px;
        }
        h1 {
            margin-right: 30px;
            position: relative;
        }
    }

    a:hover {
        color: #61dbfb;
        transition: all 0.3s ease;
    }
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    li + li {
        margin-left: 20px;
    }
    .active {
        color: var(--primary);
    }
    flex: 1;

    @include tablet {
        display: none;
    }
}

.navbar.show {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 0;

        li {
            text-align: center;
            margin: 0;
            padding: 20px;
            background-color: #0c0626;
            width: 100%;
        }
    }
}

.auth {
    a {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 18px 4px 6px;
        border-radius: 99px;
        p {
            margin-left: 10px;
            margin-bottom: 0;
            line-height: 18px;
        }
        img {
            border-radius: 99px;
            width: 35px;
            height: 35px;
            object-fit: cover;
        }
        &:hover {
            background-color: #333;
        }
    }
    @include mobile {
        margin-right: 100px;
    }
}

.menu-open,
.menu-close {
    position: absolute;
    display: none;
    font-size: 3rem;
    right: 40px;
    z-index: 99999;
    @include tablet {
        display: flex;
        align-items: center;
    }
}
