.container {
    padding: 10px;
    text-align: left;
    .img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h6 {
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 1rem;
        color: #515151;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding-bottom: 10px;
    }
    p {
        color: #b2b5b3;
        margin: 16px 0;
        font-size: 1.2rem;
    }
}
.product-des {
    color: #408dd8;
    font-weight: 400;
}

.price {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    .price-now {
        font-weight: 700;
        margin-right: 6px;
        font-size: 1rem;
        color: #73ac1b;
    }
    .price-origin {
        text-decoration: line-through;
        font-size: 0.8rem;
        margin-right: 8px;
        font-weight: 600;
    }
    .sale-off {
        font-weight: 600;
        color: rgb(253, 65, 65);
        font-size: 0.8rem;
    }
}

.rating {
    padding: 6px 0;
    span {
        margin-right: 4px;
    }
}

.slidebar-ctn {
    margin: 4px 0;
    background-color: #c8c8c8;
    width: 100%;
    height: 10px;
    border-radius: 2px;
    overflow: hidden;
    .slidebar-child {
        background-color: rgb(242, 242, 0);
        height: 100%;
    }
}
