@import '../../../../../scss/';

.range-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-light;
    width: 100%;
    padding-right: 10px;
    .played {
        margin-right: 16px;
    }
    .duration {
        margin-left: 16px;
    }
}
