.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.2);
    color: #333;
    .title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        span {
            margin-right: 10px;
        }
    }
    p {
        margin: 10px 0;
    }
}
