@import '../../../../../scss/';

.player-container {
    width: 100%;
    display: flex;
    font-size: 5rem;
    justify-content: space-between;
    padding: 0 30px;
    background-color: $bg-zing;
    button {
        background-color: $bg-zing;
        color: $white-light;
    }
    .play {
        font-size: 5rem;
    }
    .shuffle,
    .loop {
        font-size: 2rem;

        color: $white;
        &.active {
            color: $primary;
        }
    }

    .prev,
    .next {
        font-size: 3.2rem;
    }
    .loop {
        position: relative;
        .count {
            right: -12px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 10px;
            font-size: 1.5rem;
            width: 20px;
            height: 20px;
            border-radius: 999px;
            background-color: $primary;
            color: $white;
        }
    }
}
