.container {
    .inner {
        display: flex;
        .photo {
            overflow: hidden;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            .control {
                font-size: 5rem;
            }
            img {
                width: 70%;
                transition: all 3s ease;
                object-fit: cover;
                &:hover {
                    opacity: 1;
                }
            }
        }

        .thumbnail {
            margin-top: 20px;
            height: 100px;
            display: flex;
            justify-content: center;
            img {
                height: 100%;
            }
        }
        .nav {
            margin: 10px 0 20px 0;
        }
        .content {
            height: 100px;
            h3 {
                padding: 20px 0;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
            p {
                padding: 10px 0;
            }
        }
    }
}
