@import '../../scss/';
.container {
    .inner {
        display: flex;
        .nav {
            margin: 10px 0 20px 0;
            margin-right: 20px;
            @include tablet {
                margin: 0 20px 0 0;
                button {
                    margin-bottom: 6px;
                    width: 150px !important;
                }
            }
        }
        .content {
            height: 100px;
            h3 {
                padding: 20px 0;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
            p {
                padding: 10px 0;
            }
        }
    }
}
