@import '../../scss/';
.player-container {
    display: flex;
    justify-content: center;
    width: 100%;

    @include tablet {
        flex-direction: column-reverse;
    }

    .list {
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.1);
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        @include tablet {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .tab-control {
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.1);
        height: 480px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablet {
            width: 100%;
            margin-bottom: 20px;
            height: 440px;
        }
    }
}

.react-player {
    display: none;
}
